<h1>Places</h1>



  <% if @current_user != nil %>
    <% for place in @places %>
      <div class= "mb-3">
      <a href="/places/<%= place["id"] %>" class="btn btn-outline-dark"><%= place["name"] %></a>
      </div>
    <% end %>
     <a href="/places/new" class="btn btn-outline-secondary">New place</a>
  <% else %>
    <a href="/users/new" class="btn btn-dark">Sign Up to Log your Places!</a>
  <% end %>
</ul> 
