<h1>Places</h1>

<ul>
  <% user = User.find_by({ "id" => place[user_id]})%>
  <% if user = user["username"] %>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  <% end %>
</ul>

<p>
  <a href="/places/new">New place</a>
</p>