<h1>Places</h1>



  <% if @current_user != nil %>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
     <a href="/places/new">New place</a>
  <% else %>
    <a href="/login">Sign Up to Log your Places!</a>
  <% end %>
</ul> 
